{% extends   'main/base.html' %}
{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock %}
{% block title %}
Страница про home
{% endblock %}
{% block content %}

        <a name = "start"></a>
        <a name = "footer"></a>
        <div class="classer">
            <button type="button" class="btn btn-outline-warning">Ұлттық тағамдар</button>
                <div class="suret">
                    <img src="{% static 'main/img/12.jpg' %}" alt="">
                </div>
                <a href="#tamak">
                    <div class="soz">
                        <p class="tamak">Тағамдар</p>
                    </div>
                </a>
                <a href="#foods">
                    <div class="soz1">
                        <p class="tamak">Кесте</p>
                    </div>
                </a>
                <a href="#about">
                    <div class="soz2">
                        <p class="tamak">Мәлімет</p>
                    </div>
                </a>
                <div class="suret1">
                    <img src="{% static 'main/img/11.jpg' %}" alt="">
                </div>
                <a name = "tamak"></a>
                <div class="food">
                    <div class="fod1">
                        <img src="{% static 'main/img/12.jpg' %}" alt="">
                        <h2>Бешбармақ </h2>
                        <p>Бұл біздің ұлттық тағам. Ең жаңа етпен дайындалған, дәстүрлі түрде оңтүстікте бұл тағамға қамырдың жалпақ жұқа табақтары болып табылатын ең нәзік жұқа кеспе беріледі. Қызылорда облысында сіз жіңішке кеспенің орнына күріш қосылған тағамның ерекше және ерекше түріне кезігесіз.</p>
                    </div>
                    <div class="fod2">
                        <img src="{% static 'main/img/15.jpg' %}" alt="">
                            <h2>Бауырсақ </h2>
                            <p>Бауырсақ - жоғары немесе бірінші сортты бидай ұнынан пісірілетін тағам. Бауырсақтың түрлері көп. Оны ашытып та, ашытпай да, көлемін әр түрлі етіп пісіре береді және әр аспаздың өз құпиясы бар.Ал қазақ халқында иленіп пісіру жағы ұқсас болғанымен пішіні мен үлкендігіне байланысты бауырсақтың бірнеше атауы бар
                            </p>

                    </div>
                    <div class="fod3">
                        <img src="{% static 'main/img/13.jpg' %}" alt="">
                        <h2>Қазы</h2>
                        <p>Екі жақтағы қабырғалар сүбессімен алынып, бір-бір қабырғадан қосып "шылбырлап" тілінеді. Жылқының семіздігі қазы майының қалыңдығымен өлшенеді.: Шынтақ, бір елі екі елі, ең семізі - табан, ішекке сыймағандықтан, тілген күйінде сақталатыны "дөңбес қазы" деп аталады. </p>

                    </div>
                </div>
                <div class="knopka">
                  <button type="button" class="btn btn-outline-danger">Таңдау</button>
                </div>
                <a name = "foods"></a>
                <div class="container">
                    <table class="table">
                        <thead class="table-dark">
                            <tr>
                                <th>Атауы</th>
                                <th>Бағасы</th>
                                <th>Жасалу жолы</th>
                            </tr>
                        </thead>
                        <tbody class="table-Secondary">
                            <tr>
                                <th>Бешбармақ</th>
                                <td>5000 тг</td>
                                <td> Етті жуып-шайып тазалап, қазанға салады да, ет батып тұратындай етіп суық су құяды. Содан кейін қазанды қатты жанған отқа қойып, сарқылдатып қайнатады, бетіне шыққан қанды көбігін алып тастап, шамалап тұз, 1 бас пияз салып отын басады да, 1-1,5 сағат ет әбден піскенше шымырлатып қайнатады.
                                Ет әбден піскен соң табаққа сорпасынан бөлек қотарып алып, тартылған табақтың санына қарай мөлшерлеп тұздық әзірлейді. Ол үшін сорпаға қара бұрыш, дөңгелектеп тұралған пияз салып, ыдыстың бетін жауып бұқтырып
                                қояды. Ет туралып болған соң тұздықты еттің үстіне құяды және сақинаға туралған кеспе үшін: 2 жұмыртқа 3/4 - 1 стакан су 1/2 шай қасық тұз қарапайым ұн - шамамен 600 грамм</td>
                            </tr>
                            <tr>
                                <th>Бауырсақ</th>
                                <td>500 тг</td>
                                <td>Бауырсақ-4-5 стақан бидай ұны, 1стақан сүт (немесе су), 1 шай қасық тұз, 2 ас қасық сары май, 2 жұмыртқа керек. Ашытқан қамырдан бауырсақ пісіру үшін жылы суға ашытқы, қант, ұн салып жылы жерге қою керек. Ашықты көпіршектеніп ашыған кезде тұз, май, жұмыртқа, ұн салып өте жұмсақ етіп иін қандыра илейді. Жұмсақ иленген бауырсақ жақсы қабарып, жұмсақ болып піседі. 4-5 стақан бидай ұны, бір ас қасық ашытқы, 2 ас қасық қант, 1 шай қасық тұз, 1 стақан сұйық май, 1 стақан сүт (немесе су), 2 жұмыртқа. </td>
                            </tr>
                            <tr>
                                <th>Қазы</th>
                                <td >2500 тг</td>
                                <td>Қарта – жылқы етінің ең кәделі мүшелерінің бірі. Жылқы сойғанда ең алдымен қартаны ішіндегісінен босатып, айналдырады да, салқын суға жуып тазалайды. Қартаны дәміне келтіру үшін тұздайды, бұрыш сеуіп, пияз турап қосады. Бұдан соң ыстап сүрлеуге арналған қартаны бойына тұзын сіңіріп, салқын жерге (1-2 градус) 1-2 күн қояды. Қартаны 12-18 сағат бойы түтінге ыстайды. Содан кейін 12-15 градус температурада 2-3 күн сақтап кептіреді. Қартаны пісіру үшін салқын суға жуып, қазандағы жылы суға салып, отты баяулатып әбден піскенше 1,5-2 сағат қайнатады. Қартаны асқан етке қосып береді.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <a href="#start">
                <div class="classs">
                   <button type="button" class="btn btn-outline-dark">Жоғары</button>
                </div>
            </a>
            <a name = "about"></a>


            <div class="p-3 mb-2 bg-dark text-white text-center m1">
                {% for el in dishes %}
                    <h2>{{el.foods_name}}</h2>
                    <p>{{el.content}}</p>
                {% endfor %}
            </div>
            <style>
                .m1{
                margin-top: 100px;
                height: 200px;
                color: white;
                }
            </style>
{% endblock %}